
<body>
  <div class="startnav">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Image with text overlay -->
    <div class="image-container">
      <h1 class="title">Sun Travels</h1>
      <div class="bgdiv"></div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="buttons-container">
        <button class="button" routerLink="/contract">Contract</button>
        <button class="button" routerLink="/searchContract">Check Availability</button>
        <button class="button" routerLink="/hotel">Hotels</button>
        <button class="button" routerLink="/roomtype">Room Types</button>
    </div>
    
    </footer>
  </div>
</body>

