/* Navbar Styles */
.navbar {
  background-color: #0e2947; /* Light background color */
  box-shadow: 0 2px 4px rgba(50, 111, 164, 0.973)!important; /* Subtle shadow */
 /* Rounded corners */
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff; /* Dark text color */
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #edf2f6; /* Medium text color */
}

.navbar-nav .nav-link:hover {
  color: #000000; /* Darken text color on hover */
  text-shadow: #edf2f6!important;
}

.navbar-toggler-icon {
  color: #3b95e4; /* Toggler icon color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav.ml-auto {
    position: relative; /* Change positioning on smaller screens */
    right: auto;
  }
}
